/* 版心 typepage*/
.tp{
	width: 1190px;
	margin: 0 auto;
}
/* 顶部广告通栏 */
.head_ad_box{
	height: 80px;
	background-color: #111;
}
/* 顶部广告图片 */
.head_ad{
	display: block;
	height: 80px;
	background: url('../images/JD/header.jpg') no-repeat;
	position: relative;
}
/* 顶部关闭按钮 */
.ad_close{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	width: 20px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	background: rgba(0, 0, 0, 0.3);
}
/* 顶部导航底色 */
.top_nav_box_bg{
	background-color: #e3e4e5;
	border-bottom: 1px solid #ddd;
}
/* 顶部导航盒子 */
.top_nav_box{
	height: 30px;
}
/* 顶部导航 地区 */
.top_nav_box .address{
	display: block;
	margin-left: 200px;
	line-height: 30px;
}
/* 箭头图标 */
.top_nav .icon-xiala{
	position: absolute;
	top: 2px;
	right: 0;
	font-size: 12px;
}
/* 导航盒子 */
.top_nav {
	line-height: 30px;
}
/* 按钮颜色 */
.top_nav li a {
	color: #999;
}
.top_nav li a:hover {
	color: #e33333;
}
.top_nav .color_e33333 {
	color: #e33333;
}
/* 我的京东 */
.top_nav .myjd{
	padding-right: 15px;
	position: relative;
}
/* 企业采购 */
.top_nav .purchase{
	padding-right: 15px;
	position: relative;
}
/* 客户服务 */
.top_nav .service{
	padding-right: 15px;
	position: relative;
}
/* 间隔竖线 */
.top_nav .spacer{
	width: 0px;
	height: 12px;
	border-left: 1px solid #ccc;
	margin: 10px 15px 0 15px;
	float: left;
}
