tr{
	color: black;
}
td{
	font-size: 20px;
	height: 30px;
}
div{
	color: pink;
}
.div3{
	color: red;
}

span{
	font-size: 150px;
}
.g{
	color: blue;
}
.o{
	color: red;
}
.oo{
	color: yellow;
}
.l{
	color: green;
}
